.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.emoji-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 1px solid #000;
    width: 60%;
}

.emoji {
    cursor: pointer;
    font-size: 4rem;
}